body{
    margin: 0;
    font-family: 'Poppins';    
    overflow:scroll;
}  
body::-webkit-scrollbar{
  display: none;
}

header {
      
    padding: 20px 100px 0px;
    height: 740px;
    background-image: url("/images/icons/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  header .logo {
    flex-grow: 1;

  }
  .navigation{
    display: flex;
    justify-content: space-between; 
  }
  
  header nav {
    text-align: right;
    flex-grow: 1;
  }
  
  header nav ul {
    text-align: right;
    display: inline-flex;
    list-style-type: none;
    align-items: center;
  }
  
  header nav ul li {
    margin: 0px 20px;
  }
  
  header nav ul li a {
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    color: white;
    font-weight: 500;
  }
  header nav ul li :hover {
    color: #AA7101;
  }
  header nav ul li .link-active{
    color: #AA7101;
  }

  .jumbotron {
    display: flex;
    margin-top: 158px;
    margin-left: 106px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 169px;
  }
  
   .jumbo1 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
   .jumbo1 .textjumbo {
    width: 638px;
    flex-grow: 1;
    color: #FFB800;
    font-weight: 700px;
    font-size: 42px;
    line-height: 63px;
  }
  
   .jumbo1 .textjumbo p {
    margin-top: 26px;
    width: 638px;
    color: white;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
  }


  main article{   
    text-align: center;
  }
  main article h3{
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #FFB800;
  }
  main article p{
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2C2C2C;
  }
   .about{
    margin-top: 100px;
  }

  .deskripsi-about{
    margin-left: 340px;
    margin-right: 340px;
  }
  .brands{
    margin-top: 80px;
  }

  
  .list-card{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    gap: 40px;
    width:3000px;
    -webkit-animation-name: move;
    -webkit-animation-duration: 35s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: left;
    -webkit-animation-timing-function: linear;
    /* overflow-x: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none;   */
  }
  .list-card:hover{
    -webkit-animation-play-state: paused;
  }
  @-webkit-keyframes move {
    0% {
      margin-left: 100px;
    }
    100% {
      margin-left: -5500px;
    }
  } 
  /* .list-card::-webkit-scrollbar{
    display: none;
  } */

  .card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 351px;
    height: 220px;
    background: #FFFFFF;
    box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
  }

  .title-card {
    width: 351px;
    text-align: center;
  }
  .title-card p{
    margin-top: 15px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #2C2C2C;
  }

  .content-card{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .left-logo{
    margin-top: -15px;
    width: 150px;
    height: 150px;
  }
  .left-logo img {
    width: 146px;
  }

  .produk{
    text-align: start;
    width: 149px;
    height: 144px;
    margin-left: 22px;
    margin-top: -40px;
  }
  .produk p{
    height: 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
    color: #BFBFBF;
  }
  
  .costumers{
    margin-top: 80px;
  }
  .list-costumers{
    display:grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 40px;
  }
  .costumer img{
    width: 200px;
    height: 160px;
  }

  .choose{
    margin-top: 100px;
  }
  .list-keunggulan{
    justify-content: center;
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 300px;
    row-gap: 50px;
  }
  .keunggulan{
    display: flex;
    flex-direction: row;
    height: 97px;
  }
  .keunggulan img{    
    width: 90px;
    height: 90px;
    left: 0px;
    top: 7px;
  }
  .deskripsi{
    text-align: start;
    width: 357px;
    margin-left: 16px;
  }
  .cepat{
  margin-top: -8px;
  left: 106px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #2C2C2C;
  }
  .deskripsi-keunggulan{
    margin-top: -15px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2C2C2C;
  }