h1{
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 63px;
    color: #EFC31A;
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  
}
body::-webkit-scrollbar-thumb {
  background-color: #EFC31A;
  height: 50%;
  
}
body{
    max-width: 3000px; 
    margin: 0;
    font-family: 'Poppins';    
    overflow-y: visible;
}  
/* body::-webkit-scrollbar{
  display: none;
} */
  header{
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.1);
  }
  
  .navigation{    
    padding: 10px 100px; 
    display: flex;
    justify-content: space-between;    
    background-image: url("/images/icons/backgound-navigation.png");    
  }
  header .logo img{
    height: 80px;
  }
  header nav {
    padding-top: 18px;
    text-align: right;
    flex-grow: 1;
  }
  
  header nav ul {
    text-align: right;
    display: inline-flex;
    list-style-type: none;
    align-items: center;
  }
  
  header nav ul li {
    margin: 0px 20px;
  }
  
  header nav ul li a {
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    color: #2C2C2C;
    font-weight: 500;
  }
  /* header nav {
    text-align: right;
    flex-grow: 1;
  }
  
  header nav ul {
    text-align: right;
    display: inline-flex;
    list-style-type: none;
    align-items: center;
  }
  
  header nav ul li {
    margin: 0px 20px;
  }
  
  header nav ul li a {
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    color: white;
    font-weight: 500;
  } */
  header nav ul li :hover {
    color: #AA7101;
  }
  header nav ul li .link-active{
    color: #AA7101;
  }

  main{
    margin-top: 80px;
    margin-left: 100px;
  }
  .brand{
    margin-top: 40px;
    overflow: hidden;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height */


color: #2C2C2C;
  }
  

  .list-products::-webkit-scrollbar {
    width: 10px;
  }
  .list-products::-webkit-scrollbar-track { 
    margin-left: 20px;
    margin-right: 20px;
    background-color: #e4e4e4;
    border-radius: 10px;
  }
  .list-products::-webkit-scrollbar-thumb {
    background-color: #EFC31A;
    border-radius: 10px;
  }
  .list-products{   
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    overflow-x: scroll;
  }
  

  .products{
    width: 285px;
    height: 400px;
    background: #FFFFFF;
    box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.02), 0px 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    align-items: center;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 7px;
  }
  .image-produk{
    width: 285px;
    height: 200px;
  }
  .image-produk img{
    width: 285px;
    height: 200px;
  }
  .deskripsi-produk{
    padding-left: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .produk{
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #2c2c2c;
  }
  .categori-produk{
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #9c9c9c;
  }